html {
	font-size: 60%;
}

* {
	margin: 0;
	padding: 0;
  border-color: transparent;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #e8e8ff !important;
}

#main {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.nav-bar {
  width: 100vw;
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  padding-top: 1rem;
  background-color: #e8e8ff;
}

.website-title{
  padding: 1vmin;
  text-align: center;
  font-size: 4vw;
  color: #2d3142;
  font-family: Tangerine, 'Source Sans Pro';
}

ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

.dropdown {
  position: absolute;
  display: none;
}

.mobile-nav {
  display: none;
}

li a {
  display: block;
  font-size: 3vmin;
  color: #2d3142;
  text-align: center;
  padding: 2vmin;
  text-decoration: underline;
  font-family: Spectral, 'Source Sans Pro';
}

li a:hover {
  color: #7F7FB5;
  text-decoration: none;
}

ul li:hover ul.dropdown {
  display: block; 
  color: #7F7FB5;
  text-decoration: none;
  background-color: #e8e8ff;
  text-align: center;
}

#introduction-body {
  width: 100vw;
  height: 75vh;
  display: flex;
  flex-direction: row;
  background-color: #F2F1F3;
  justify-content: space-evenly;
  padding: 2rem;
  overflow: hidden
}

#introduction {
  display: flex;
  background-color: #F2F1F3;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3vh;
}

#siamese {
  display: flex;
  justify-content: space-around;
  align-self: center;
  max-width: 30vw;
  height: auto;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: auto;
}

#cfa {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  width: 7vw;
  height: auto;
}

#tica {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  width: 10vw;
  height: auto;
}

#cff {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  width: 7vw;
  height: auto;
}

.welcome-msg {
  display: flex;
  text-align: center;
  font-size: 5vw;
  color: #2d3142;
  font-family: Tangerine, 'Source Sans Pro';
  white-space: nowrap;
  align-self: center;
  flex-shrink: 0;
}

.intro-text {
  display: flex;
  max-width: 70rem;
  text-align: center;
  align-self: center;
  font-size: 2rem;
  font-weight: 300;
  color: #000000;
  font-family: Spectral, 'Source Sans Pro';
  flex-shrink: 0;
  flex-direction: column;
}

.scroll-container {
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: #e8e8ff;
  overflow: auto;
  white-space: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.scroll-container img {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  max-width: 50vw;
  height: fit-content;
  padding: 0.5rem;
}

#mobile-quote {
  display: none;
}

q {
  display: none;
}

.hemingway {
  display: none;
}

.body-text {
  display: flex;
  max-width: 80vw;
  text-align: center;
  align-self: center;
  font-weight: 300;
  color: #2d3142;
  font-family: Spectral, 'Source Sans Pro';
  flex-direction: column;
  font-size: 2.25vmin;
}

#lower-bar {
  width: 100vw;
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: auto;
  background-color: #e8e8ff;
}

#social-media {
  display: flex;
  flex-direction: row;
  align-self: baseline;
  height: auto;
  justify-content: space-evenly;
}

#social-logo {
  max-height: 7vh;
  padding: 2rem;
}

#social-div {
  display: flex;
  flex-direction: row;
}

#social-handle {
  display: none;
}

.mobile-phone {
  display: none;
}

.contact-us {
  display: flex;
  text-align: center;
  font-size: 2vw;
  color: #2d3142;
  font-family: Spectral, 'Source Sans Pro';
  justify-content: space-around;
  padding: 3rem;
  font-weight: 300;
}

.phone {
  text-align: center;
  font-size: 1.5vw;
  color: #2d3142;
  font-family: Spectral, 'Source Sans Pro';
  padding: 3.5rem;
}

.scroll-top {
  display: none;
}

@media screen and (max-width: 650px) {
  body {
    width: 100vw;
    height: 100vh;
    background-color: #e8e8ff !important;
    overflow-x: hidden;
  }
  
  #main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .website-title{
    text-align: center;
    font-size: 6vmin;
    color: #2d3142;
    font-family: Tangerine, 'Source Sans Pro';
  }

  .nav-bar {
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    padding-top: 2rem;
    background-color: #e8e8ff;
  }

  ul {
    display: none;
  }

  .mobile-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    background-color: #e8e8ff;
  }

  #introduction-body {
    width: 100vw;
    height: 75vh;
    display: flex;
    align-self: center;
    flex-direction: column;
    background-color: #F2F1F3;
    justify-content: space-around;
  }

  #introduction {
    display: flex;
    flex-direction: row;
    background-color: #F2F1F3;
    flex-direction: column;
    justify-content: space-around;
  }

  li a {
    display: block;
    font-size: 2vmin;
    color: #2d3142;
    text-align: center;
    padding: 1vmin;
    text-decoration: underline;
    font-family: Spectral, 'Source Sans Pro';
  }

  #siamese {
    display: flex;
    align-self: center;
    width: 80%;
    height: auto;
  }

  .welcome-msg {
    display: flex;
    text-align: center;
    font-size: 3vmax;
    color: #2d3142;
    font-family: Tangerine, 'Source Sans Pro';
    white-space: nowrap;
    align-self: center;
  }
  
  .intro-text {
    display: flex;
    text-align: center;
    align-self: center;
    font-size: 0.9vmax;
    font-weight: 300;
    color: #000000;
    font-family: Spectral, 'Source Sans Pro';
    padding-left: 3vw;
    flex-direction: column;
  }

  .logos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    padding-top: 2vh;
  }
  
  #cfa {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    height: 6vh;
    width: auto;
  }
  
  #tica {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    height: 6vh;
    width: auto;
  }
  
  #cff {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    height: 6vh;
    width: auto;
  }

  .scroll-container {
    display: none;
  }
  
  .scroll-container img {
    display: none;
  }
   
  .body-text {
    display: flex;
    max-width: 80vw;
    text-align: center;
    align-self: center;
    font-weight: 300;
    color: #2d3142;
    font-family: Spectral, 'Source Sans Pro';
    flex-direction: column;
    font-size: 1vmax;
  }

  #social-media {
    order: 2;
    display: flex;
    flex-direction: column;
    align-self: baseline;
    height: auto;
  }
  
  #social-logo {
    max-height: 4vh;
    width: auto;
    height: auto;
    padding: 0;
  }

  #social-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #social-handle {
    display: block;
    text-align: center;
    margin: auto;
    font-size: 1.75vmin;
    color: #2d3142;
    font-family: Spectral, 'Source Sans Pro';
  }

  #mobile-quote {
    display: flex;
    height: fit-content;
    justify-content: center;
  }
  
  q {
    display: block;
    text-align: center;
  }
  
  .hemingway {
    display: flex;
    max-width: 70rem;
    text-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 300;
    color: #000000;
    font-family: Spectral, 'Source Sans Pro';
    flex-direction: column;
  }

  .mobile-phone {
    display: block;
    text-align: center;
    font-size: 2vw;
    color: #2d3142;
    font-family: Spectral, 'Source Sans Pro';
    padding: 1rem;
    align-self: center;
  }

  .contact-us {
    order: 1;
    display: flex;
    text-align: center;
    font-size: 3vw;
    color: #2d3142;
    font-family: Spectral, 'Source Sans Pro';
    justify-content: space-around;
    font-weight: 300;
  }
  
  .phone {
    display: none;
  }

  .scroll-top {
    order: 3;
    display: flex;
    background-color: #7F7FB5;
    color: #F2F1F3;
    justify-content: flex-end;
    bottom: 0px;
    align-self: flex-end;
  }
}

@media screen and (min-width: 650px) and (max-width: 1200px) {
  body {
    width: 100vw;
    height: 100vh;
    background-color: #e8e8ff !important;
  }
  
  #main {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  
  .nav-bar {
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    padding-top: 2rem;
    background-color: #e8e8ff;
  }

  ul {
    display: none;
  }

  .mobile-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    background-color: #e8e8ff;
  }

  .dropdown {
    position: absolute;
    display: none;
  }

  li a {
    display: block;
    font-size: 3vmin;
    color: #2d3142;
    text-align: center;
    padding: 2vmin;
    text-decoration: underline;
    font-family: Spectral, 'Source Sans Pro';
  }
  
  li a:hover {
    color: #7F7FB5;
    text-decoration: none;
  }
  
  ul li:hover ul.dropdown {
    display: block; 
    color: #7F7FB5;
    text-decoration: none;
    background-color: #e8e8ff;
    text-align: center;
  }
  
  #introduction-body {
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: row;
    background-color: #F2F1F3;
    justify-content: space-evenly;
    padding: 2rem;
  }
  
  #introduction {
    display: flex;
    background-color: #F2F1F3;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3vh;
  }
  
  #siamese {
    display: flex;
    justify-content: space-around;
    align-self: center;
    max-width: 30vw;
    height: auto;
  }
  
  .logos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
  }
  
  #cfa {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 7vw;
    height: auto;
  }
  
  #tica {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 10vw;
    height: auto;
  }
  
  #cff {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 7vw;
    height: auto;
  }
  
  .welcome-msg {
    display: flex;
    text-align: center;
    font-size: 6vmin;
    color: #2d3142;
    font-family: Tangerine, 'Source Sans Pro';
    white-space: nowrap;
    align-self: center;
    flex-shrink: 0;
  }
  
  .intro-text {
    display: flex;
    max-width: 70rem;
    text-align: center;
    align-self: center;
    font-size: 2.25vmin;
    font-weight: 300;
    color: #000000;
    font-family: Spectral, 'Source Sans Pro';
    flex-direction: column;
    padding: 2rem;
  }
  
  .scroll-container {
    display: none;
  }
  
  .scroll-container img {
    display: none;
  }
  
  #mobile-quote {
    display: flex;
    height: fit-content;
    justify-content: center;
  }

  q {
    display: block;
    text-align: center;
  }
  
  .hemingway {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 300;
    color: #000000;
    font-family: Spectral, 'Source Sans Pro';
    flex-direction: column;
  }
  
  .body-text {
    display: flex;
    max-width: 80vw;
    text-align: center;
    align-self: center;
    font-weight: 300;
    color: #2d3142;
    font-family: Spectral, 'Source Sans Pro';
    flex-direction: column;
    font-size: 2.25vmin;
  }
  
  #lower-bar {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: auto;
    background-color: #e8e8ff;
  }
  
  #social-media {
    order: 2;
    display: flex;
    flex-direction: row;
    align-self: center;
    height: auto;
    justify-content: center;
  }
  
  #social-logo {
    max-height: 4vh;
    width: auto;
    height: auto;
    padding: 0;
  }

  #social-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    padding: 1rem;
  }

  #social-handle {
    display: block;
    text-align: center;
    margin: auto;
    font-size: 2vmin;
    color: #2d3142;
    font-family: Spectral, 'Source Sans Pro';
  }

  .mobile-phone {
    display: block;
    text-align: center;
    font-size: 2.2vmin;
    color: #2d3142;
    font-family: Spectral, 'Source Sans Pro';
    padding: 1rem;
    justify-content: space-around;
  }

  .contact-us {
    order: 1;
    display: flex;
    text-align: center;
    font-size: 3.5vmin;
    color: #2d3142;
    font-family: Spectral, 'Source Sans Pro';
    justify-content: space-around;
    font-weight: 300;
  }
  
  .phone {
    display: none;
  }

  .scroll-top {
    display: none;
  }
}
